@model List<_10X_ManagerPortal.Models.WorklistItem>

@{
    ViewBag.Title = "Approvals Worklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th, label {
        text-transform: none !important;
    }
    th, td {
        white-space: nowrap !important;
        padding: 6px !important;
    }
    #approvalModal .modal-dialog {
        max-width: 60vw !important;
        margin: auto !important;
    }

    .modal-dialog-scrollable .modal-body {
        overflow-y: hidden !important;
    }
</style>

<!-- DataTables CSS -->
<link rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

<div class="card shadow bg-transparent border border-primary p-4 mt-4">

    <!-- Page Header -->
    <div class="d-flex flex-column flex-md-row flex-sm-row justify-content-between align-items-md-center align-items-sm-center gap-3 mb-4">
        <div>
            <h4 class="card-title mb-1">Approvals Worklist</h4>
            <p class="text-muted">Real-time approvals pulled from SAP B1 HANA</p>
        </div>

        <div class="btn-group ms-md-auto mt-3 mt-md-0" role="group">
            <button class="btn btn-primary status-btn @(ViewBag.Status == "W" ? "active" : "")" data-status="W">Pending</button>
            <button class="btn btn-primary status-btn @(ViewBag.Status == "Y" ? "active" : "")" data-status="Y">Approved</button>
            <button class="btn btn-primary status-btn @(ViewBag.Status == "N" ? "active" : "")" data-status="N">Rejected</button>
        </div>


    </div>


    <div class="row g-2 mb-4 align-items-end">

        <div class="col-12 col-sm-6 col-md-auto">
            <select id="docTypeFilter" class="form-select">
                @foreach (var b in (List<SelectListItem>)ViewBag.DocumentTypes)
                {
                    <option value="@b.Value" @(Request["docType"] == b.Value ? "selected" : "")>
                        @b.Text
                    </option>
                }
            </select>
        </div>

        <div class="col-12 col-sm-6 col-md-auto">
            <select id="branchFilter" class="form-select">
                @foreach (var b in (List<SelectListItem>)ViewBag.Branches)
                {
                    <option value="@b.Value" @(Request["branch"] == b.Value ? "selected" : "")>
                        @b.Text
                    </option>
                }
            </select>
        </div>

        <div class="col-12 col-sm-6 col-md-auto">
            <input type="date"
                   id="dateFromFilter"
                   class="form-control"
                   value="@Request["dateFrom"]" />
        </div>

        <div class="col-12 col-sm-6 col-md-auto">
            <input type="date"
                   id="dateToFilter"
                   class="form-control"
                   value="@Request["dateTo"]" />
        </div>

        <div class="col-12 col-md-auto">
            <button id="applyFiltersBtn"
                    class="btn btn-primary w-100 w-md-auto">
                Apply Filters
            </button>
        </div>

    </div>



    <!-- DataTable -->
    <div class="table-responsive">
        <table id="worklistTable" class="display compact table table-striped">
            <thead>
                <tr>
                    <th>Doc Type</th>
                    <th>Number</th>
                    <th>BP Name</th>
                    <th>Branch</th>
                    <th>Amount</th>
                    <th>Ageing</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>

</div>
<!-- Approval History Modal -->
<div class="modal fade" id="approvalModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Approval Stages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <table id="approvalHistoryTable" class="display table table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>Stage</th>
                            <th>Authorizer</th>
                            <th>Answer</th>
                            <th>Answer Date</th>
                            <th>Answer Time</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="p-3">
                <button class="btn btn-success" style="width:100px">Approve</button>
                <button class="btn btn-danger" style="width:100px">Reject</button>
            </div>



        </div>
    </div>
</div>
<!-- Request For Approval Modal -->
<div class="modal fade" id="sapApprovalModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <input type="hidden" id="wddCode" />

         
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" style="color:white"><i class="fa fa-file-alt me-2" style="color:white"></i>Request for Generation Approval</h5>
                <button type="button" class="btn-close btn-close-white"
                        data-bs-dismiss="modal" style="color:white"></button>
            </div>
            <!-- Body -->
            <div class="modal-body">

                <!-- Approval Request Details -->
                <div class="border rounded p-2 mb-2">
                    <h6 class="fw-bold mb-2">Approval Request Details</h6>

                    <div class="row g-2">
                        <div class="col-md-4">
                            <label class="form-label small">Requested By</label>
                            <input id="reqBy" class="form-control form-control-sm" readonly>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small">Status</label>
                            <input id="reqStatus" class="form-control form-control-sm" readonly>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small">Document</label>
                            <input id="docType" class="form-control form-control-sm" readonly>
                        </div>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-md-4">
                            <label class="form-label small">Issue Date</label>
                            <input id="issueDate" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                </div>

                <!-- Document Draft Details -->
                <div class="border rounded p-2 mb-2">
                    <h6 class="fw-bold mb-2">Document Draft Details</h6>

                    <div class="row g-2">
                      
                        <div class="col-md-4">
                            <label class="form-label small">Document Draft No.</label>

                            <div class="d-flex align-items-center">
                               
                                <i class="bi bi-arrow-right-circle-fill me-2 text-primary"
                                   style="cursor:pointer;"
                                   data-bs-toggle="modal"
                                   data-bs-target="#DocumentDetailsModal"></i>

                                <input id="draftDocNum" class="form-control form-control-sm" readonly />
                            </div>
                        </div>


                        <div class="col-md-4">
                            <label class="form-label small">Draft Key</label>
                            <input id="draftKey" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                </div>

                <!-- Authorization Details -->
                <div class="border rounded p-2 mb-2">
                    <h6 class="fw-bold mb-2">Authorization Details</h6>

                    <div class="row g-2">
                        <div class="col-md-4">
                            <label class="form-label small">Status</label>
                            <input id="authStatus" class="form-control form-control-sm" readonly>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small">Template</label>
                            <input id="templateName" class="form-control form-control-sm" readonly>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label small">Request Date</label>
                            <input id="requestDate" class="form-control form-control-sm" readonly>
                        </div>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-md-4">
                            <label class="form-label small">Stage</label>
                            <input id="stageName" class="form-control form-control-sm" readonly>
                        </div>

                        <div class="col-md-8">
                            <label class="form-label small">Remarks</label>
                            <input id="authRemarks" class="form-control form-control-sm" readonly>
                        </div>
                    </div>

                    
                </div>

                <!-- Answer Section -->
                <div class="border rounded p-2">
                    <h6 class="fw-bold mb-2">Answer</h6>

                    <div class="row g-2">
                        <div class="col-md-4">
                            <label class="form-label small">Decision</label>
                            <select id="decision" class="form-select form-select-sm">
                                <option value="">-- Select Approve/Reject --</option>
                                <option value="Y">Approve</option>
                                <option value="N">Reject</option>
                            </select>
                        </div>

                        <div class="col-md-8">
                            <label class="form-label small">Remarks</label>
                            <input id="decisionRemarks" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>

            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm px-4" id="btnApproveModal">OK</button>
                <button class="btn btn-secondary btn-sm px-4" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<!-- Document Details Modal -->
<div class="modal fade" id="DocumentDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" style="color:white"><i class="fa fa-file-alt me-2" style="color:white"></i>Document Details</h5>
                <button type="button" class="btn-close btn-close-white"
                        data-bs-dismiss="modal" style="color:white"></button>
            </div>

            <div class="modal-body">

                <!-- Header Info -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="text-secondary">Document Summary</h6>
                        <div class="row">

                            <div class="col-md-6">
                                <label class="small text-muted">Document Type</label>
                                <div id="docTypeDetail"></div>
                            </div>
                            <div class="col-md-6">
                                <label class="small text-muted">Document Number</label>
                                <div id="docNumber"></div>
                            </div>


                            <div class="col-md-6 mt-2">
                                <label class="small text-muted">Doc Date</label>
                                <div id="DocDate"></div>
                            </div>

                            @*<div class="col-md-6 mt-2">
                                    <label class="small text-muted">Status</label>
                                    <div id="authStatusDetail"></div>
                                </div>*@
                            <div class="col-md-6 mt-2">
                                <label class="small text-muted">Doc Total</label>
                                <div id="DocTotal"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Line Details -->
                <h6 class="text-secondary">Document Line Details</h6>

                <table id="docLinesTable" class="table table-striped table-bordered table-sm" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th>Line</th>
                            <th>Item Code</th>
                            <th>Description</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Line Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


<script>

    var currentStatus = "W";
    var worklistTable;
    $(document).ready(function () {

        loadTable();

        // Apply Filters
        $('#applyFiltersBtn').click(function () {
            $('#worklistTable').DataTable().ajax.reload();
        });

        // Status Buttons
        $(document).on('click', '.status-btn', function () {

            currentStatus = $(this).data('status');

            $('.status-btn').removeClass('active');
            $(this).addClass('active');

            $('#worklistTable').DataTable().ajax.reload();
        });

    });
        const companyInfo = {
            name: "10X Technologies Pvt Ltd",
            address: "Hyderabad, Telangana, India",
            phone: "+91 98765 43210",
            gst: "36ABCDE1234F1Z5"
        };

        function customizePdf(doc) {

            doc.pageMargins = [40, 90, 40, 60];

            doc.header = () => ({
                margin: [40, 20, 40, 0],
                stack: [
                    { text: companyInfo.name, fontSize: 14, bold: true },
                    { text: companyInfo.address, fontSize: 9 },
                    {
                        columns: [
                            { text: 'Phone: ' + companyInfo.phone, fontSize: 9 },
                            { text: 'GST: ' + companyInfo.gst, fontSize: 9, alignment: 'right' }
                        ]
                    },
                    { canvas: [{ type: 'line', x1: 0, y1: 5, x2: 760, y2: 5, lineWidth: 1 }] }
                ]
            });

            doc.footer = (page, pages) => ({
                margin: [40, 0, 40, 20],
                columns: [
                    { text: 'Generated from SAP Manager Portal', fontSize: 8 },
                    { text: `Page ${page} of ${pages}`, alignment: 'right', fontSize: 8 }
                ]
            });

            const table = doc.content.find(c => c.table);
            table.layout = 'lightHorizontalLines';

            table.table.body.forEach((row, i) => {
                row.forEach(cell => {
                    cell.fontSize = i === 0 ? 10 : 9;
                    if (i === 0) cell.bold = true;
                });
            });
        }

    function loadTable() {


    if (worklistTable) {
        worklistTable.destroy();
        }


        worklistTable = new DataTable('#worklistTable', {
           
        responsive: true,
        processing: true,
        serverSide: false,
           

        ajax: {
            url: '@Url.Action("GetWorklist", "Approvals")',
            type: 'GET',
            data: function (d) {
                d.status   = currentStatus;
                d.docType  = $('#docTypeFilter').val();
                d.branch   = $('#branchFilter').val();
                d.dateFrom = $('#dateFromFilter').val();
                d.dateTo   = $('#dateToFilter').val();
            }
        },

        columns: [
            { data: "DocTypeName" },
            { data: "DocNum" },
            { data: "CardName" },
            { data: "Branch" },
            {
                data: "DocTotal",
                className: "text-end",
                render: d => Number(d).toFixed(2)
            },
            { data: "Ageing", className: "text-end" },
            {
                data: "DocEntry",
                orderable: false,
                className: "approve-col",
                render: function (docEntry, type, row) {
                    if (currentStatus == 'Y') {
                        return 'Approved';   // hide button
                    } else if (currentStatus == 'N') {
                        return 'Rejected';   // hide button
                    }
                    return `
                        <button class="btn btn-primary btn-sm approve-btn"
                                data-docentry="${docEntry}"
                                data-doctype="${row.DocType}">
                            Approve / Reject
                        </button>`;
                }
            }
        ],


            initComplete: function () {
                const api = this.api();

                // ✅ ONLY THIS LINE CONTROLS VISIBILITY
                api.column(6).visible(currentStatus === 'W');
            },

        layout: {
            topStart: ['pageLength', 'search'],
            topEnd: {
                buttons: [
                    {
                        extend: 'pdf',
                        text: 'PDF',
                        //className: 'btn btn-sm btn-danger dt-btn',
                        title: '',
                        orientation: 'landscape',
                        pageSize: 'A4',
                        customize: customizePdf
                    },
                    {
                        extend: 'excel',
                        text: 'Excel',
                        //className: 'btn btn-sm btn-success dt-btn'
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                       // className: 'btn btn-sm btn-primary dt-btn'
                    }
                ]
            }
        }
        });

    }



    $(document).on("click", ".approve-btn", function () {

        let docEntry = $(this).data("docentry");
        let objType = $(this).data("doctype") || "";   // <-- IMPORTANT

        $("#sapApprovalModal").modal("show"); // SHOW FIRST

        // Then load data (optional)
        $.ajax({
            url: '@Url.Action("GetApprovalDetails", "Approvals")',

            //url: "/Approvals/GetApprovalDetails",
            type: "GET",
            data: { docEntry: docEntry, objType: objType },
            success: function (res) {
                if (!res.success) return;
                debugger;
                let d = res.data;

                $("#reqBy").val(d.RequestedBy || "");
                $("#reqStatus").val(d.RequestStatus || "");
                $("#docType").val(d.DocumentType || "");
                $("#issueDate").val(d.IssueDate || "");
                $("#draftDocNum").val(d.DocumentDraftNo || "");
                $("#draftKey").val(d.DraftKey || "");
                $("#authStatus").val(d.AuthorizationStatus || "");
                $("#templateName").val(d.TemplateName || "");
                $("#requestDate").val(d.RequestDate || "");
                $("#stageName").val(d.StageName || "");
                $("#authRemarks").val(d.AuthRemarks || "");
                $("#wddCode").val(d.WddCode || "");
            }
        });
    });
    function getObjType(docTypeName) {
        const map = {
            "Purchase Order": 22,
            "Goods Receipt PO": 20,
            "A/P Invoice": 18,
            "A/P Credit Memo": 19,
            "Purchase Quotation": 23,
            "Purchase Request": 540000006,
            "Blanket Agreement": 540000007,

            // Sales
            "Sales Order": 17,
            "A/R Invoice": 13,
            "A/R Credit Memo": 14,
            "Delivery": 15,
            "Returns": 16,

            // Inventory
            "Goods Receipt": 59,
            "Goods Issue": 60,
            "Inventory Transfer": 67,
            "Inventory Transfer Request": 1250000001,

            // Financials
            "Journal Entry": 30,
            "Outgoing Payment": 46,
            "Incoming Payment": 1470000113
        };
        return map[docTypeName] || 0;
    }

    $(".bi-arrow-right-circle-fill").on("click", function () {

        let draftEntry = $("#draftKey").val();
        let docTypeName = $("#docType").val();
        let objType = getObjType(docTypeName);

        if (!objType) {
            alert("Invalid DocType: " + docTypeName);
            return;
        }

        $.ajax({
            url: '@Url.Action("GetDraftDocumentDetails", "Approvals")',
          /*  url: "/Approvals/GetDraftDocumentDetails"*/
            type: "GET",
            data: {
                draftEntry: draftEntry,
                objType: objType
            },
            success: function (res) {
                debugger;
                if (!res.success) {
                    alert("Unable to load document!");
                    return;
                }

                let d = res.data; // <-- use res.data

                $("#docTypeDetail").text(d.DocumentType);
                $("#docNumber").text(d.DocumentDraftNo);
                $("#requestedBy").text(d.RequestedBy);
                $("#DocDate").text(d.DocDate);
                $("#authStatusDetail").text(d.AuthorizationStatus);
                $("#DocTotal").text(d.DocTotal);

                // Load DataTable
                docLinesTable.clear();

                $.each(d.Lines, function (i, row) { // <-- use d.Lines
                    docLinesTable.row.add([
                        row.LineNum,
                        row.ItemCode,
                        row.Dscription,
                        row.Quantity,
                        row.Price,
                        row.LineTotal
                    ]);
                });
                docLinesTable.draw();
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function () {

        //new DataTable('#docLinesTable', {
        //    paging: true,
        //    searching: true,   // 🔥 SEARCH BAR
        //    info: true,
        //    lengthChange: true,
        //    scrollY: '300px',
        //    scrollCollapse: true,

        //    columnControl: {
        //        target: 0,
        //        content: [
        //            'order',
        //            ['orderAsc', 'orderDesc', 'orderRemove', 'search']
        //        ]
        //    },

        //    layout: {
        //        topStart: 'pageLength',
        //        topEnd: 'search',
        //        bottomStart: 'info',
        //        bottomEnd: 'paging'
        //    }
        //});

    });


    var docLinesTable = $('#docLinesTable').DataTable({
        paging: true,
        searching: false,
        info: false,
        lengthChange: false,
        autoWidth: false,
        scrollY: "300px",   // Set the height here
        scrollCollapse: true, // Table can shrink if less content
        scroller: true
    });

    $('#btnApproveModal').click(function () {

        var data = {
            wddCode: $('#wddCode').val(),
            decision: $('#decision').val(), // Y / N
            remarks: $('#decisionRemarks').val(),
            DraftEntry: $("#draftKey").val()
        };
        debugger;

        $.ajax({
            url: '@Url.Action("ApproveRejectRequest", "Approvals")',
            //url: '/Approvals/ApproveRejectRequest',
            type: 'POST',
            data: data,
            success: function (res) {
                if (res.success) {
                    alert('Approval updated successfully');
                    $('#sapApprovalModal').modal('hide');
                    $('#worklistTable').DataTable().ajax.reload();
                //    approvalsTable.ajax.reload(); // reload DataTable
                } else {
                    alert(res.message);
                }
            }
        });
    });




function loadApprovalHistory(docEntry, docType) {

    $("#approvalHistoryTable").DataTable({
        destroy: true,
        ajax: {
            url: '@Url.Action("GetApprovalHistory", "Approvals")',
            type: "GET",
            data: {
                docEntry: docEntry,
                docType: docType
            }
        },
        columns: [
            { data: "Stage" },
            { data: "Authorizer" },
            { data: "Answer" },
            { data: "AnswerDate" },
            { data: "AnswerTime" },
            { data: "Remarks" }
        ]
    });
}

</script>


